@charset "UTF-8";
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: "Roboto", sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.mainContacto .sectionOne .contenedor .derecha form .botones, .mainServicios .sectionTwo .contenedorSeccion .servicio button, .mainPortafolio .sectionTwo .contenedorSeccion .trabajos button, .mainIndex .secctionTwo .secctionTwo__contenedor .derecha .contenedorBotones button, .mainIndex .secctionOne .secctionOne__div button, .contacto .contenedor button, .heder .nav .menu .resume a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #00aaff;
  box-shadow: 0 0 10px #00aaff;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
}
.mainContacto .sectionOne .contenedor .derecha form .botones:hover, .mainServicios .sectionTwo .contenedorSeccion .servicio button:hover, .mainPortafolio .sectionTwo .contenedorSeccion .trabajos button:hover, .mainIndex .secctionTwo .secctionTwo__contenedor .derecha .contenedorBotones button:hover, .mainIndex .secctionOne .secctionOne__div button:hover, .contacto .contenedor button:hover, .heder .nav .menu .resume a:hover {
  background-color: #010e3d;
  border-color: #00aaff;
  color: #00aaff;
  transform: translateY(-5px) scale(1);
}
.mainContacto .sectionOne .contenedor .derecha form .botones:active, .mainServicios .sectionTwo .contenedorSeccion .servicio button:active, .mainPortafolio .sectionTwo .contenedorSeccion .trabajos button:active, .mainIndex .secctionTwo .secctionTwo__contenedor .derecha .contenedorBotones button:active, .mainIndex .secctionOne .secctionOne__div button:active, .contacto .contenedor button:active, .heder .nav .menu .resume a:active {
  background-color: transparent;
  border-color: #00aaff;
  color: #00aaff;
  transform: translateY(5px) scale(0.95);
}

.mainServicios .sectionTwo .contenedorSeccion .servicio h3, .mainPortafolio .sectionTwo .contenedorSeccion .trabajos h3, .mainRecorrido .sectionTwo .universidad h3,
.mainRecorrido .sectionTwo .trabajo h3,
.mainRecorrido .sectionTwo .freelance h3, .mainIndex .secctionTwo h3, .contacto h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #00aaff;
  margin-bottom: 50px;
}

.mainContacto .sectionOne .contenedor .izquierda p, .mainRecorrido .sectionTwo .universidad .contenedor__trabajo .texto p,
.mainRecorrido .sectionTwo .trabajo .contenedor__trabajo .texto p,
.mainRecorrido .sectionTwo .freelance .contenedor__trabajo .texto p, .mainRecorrido .sectionTwo .universidad .contenedor .texto p,
.mainRecorrido .sectionTwo .trabajo .contenedor .texto p,
.mainRecorrido .sectionTwo .freelance .contenedor .texto p, .mainIndex .secctionTwo .secctionTwo__contenedor .derecha p, .contacto .contenedor p {
  font-size: 20px;
  color: #ccf2ff;
  padding-bottom: 20px;
}

.footer .derecho, .footer .centro, .footer .izquierdo {
  width: 100%;
  width: 100%;
  background-color: rgb(0, 10, 47);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 25px 0 20px 0;
}

.footer .derecho h3, .footer .centro h3, .footer .izquierdo h3 {
  font-weight: bolder;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  width: 20%;
}

.heder .nav {
  width: 100%;
  height: 10rem;
  background-color: rgba(0, 10, 47, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  z-index: 1;
}
.heder .nav .logo a img {
  width: 12rem;
  transition: all 300ms;
}
.heder .nav .logo a img:hover {
  transform: scale(1.1);
}
.heder .nav .menu {
  color: #ccf2ff;
  display: flex;
  align-items: center;
}
.heder .nav .menu ul {
  font-family: "Roboto Mono", monospace;
}
.heder .nav .menu ul a {
  font-size: 1.6rem;
  margin: 0 25px 0 0;
  transition: all 300ms;
}
.heder .nav .menu ul a:hover {
  transform: scale(1.1);
  color: #00aaff;
}
.heder .nav .menu .resume a {
  color: #0a1a44;
  padding: 15px 10px;
  font-weight: bold;
}
.heder .navCelu {
  display: none;
}

.contacto {
  margin: 0 auto;
  background-color: rgb(0, 10, 47);
  padding-bottom: 80px;
}
.contacto h3 {
  border-top: 1px solid rgb(19, 32, 80);
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}
.contacto .contenedor {
  max-width: 1200px;
  margin: 0 auto;
}
.contacto .contenedor h2 {
  text-align: center;
  font-size: clamp(40px, 8vw, 90px);
  color: #ccf2ff;
  font-weight: 600;
}
.contacto .contenedor p {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}
.contacto .contenedor button {
  margin: 0 auto;
}
.contacto .contenedor button a {
  padding: 15px 10px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .izquierdo {
  background-color: #0a1a44;
}
.footer .izquierdo nav ul {
  margin-top: 10px;
}
.footer .izquierdo nav ul li a {
  transition: all 300ms;
}
.footer .izquierdo nav ul li a:hover {
  transform: scale(1.1);
  color: #00aaff;
}
.footer .centro {
  background-color: #00aaff;
}
.footer .centro p {
  margin: 20px 0;
}
.footer .derecho {
  background-color: #0a1a44;
}
.footer .derecho a {
  width: 30px;
  margin: 5px auto;
  transition: all 0.15s linear;
}
.footer .derecho a:hover {
  transform: translateY(0px) scale(1.2);
  filter: opacity(0.4) drop-shadow(0 0 0 #00aaff);
}

.mainIndex .secctionOne {
  height: 100vh;
  background-color: rgb(0, 10, 47);
  background-image: url(https://github.com/EdgarLopez95/myPortafolio/blob/main/assets/bannerinicio.jpg?raw=true);
  padding: 0 100px;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  align-items: center;
}
.mainIndex .secctionOne .secctionOne__div {
  width: 1200px;
  margin: 0 auto;
}
.mainIndex .secctionOne .secctionOne__div img {
  display: none;
}
.mainIndex .secctionOne .secctionOne__div p {
  margin-bottom: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: #00aaff;
}
.mainIndex .secctionOne .secctionOne__div h1 {
  font-size: clamp(40px, 8vw, 90px);
  color: #ccf2ff;
  font-weight: 600;
}
.mainIndex .secctionOne .secctionOne__div h2 {
  margin-top: 10px;
  font-size: clamp(40px, 8vw, 90px);
  color: #ccf2ff;
  font-weight: 600;
}
.mainIndex .secctionOne .secctionOne__div button {
  margin-top: 50px;
  font-family: "Roboto Mono", monospace;
}
.mainIndex .secctionOne .secctionOne__div button a {
  padding: 15px 10px;
}
.mainIndex .secctionTwo {
  padding: 100px 100px;
  background-color: rgb(0, 10, 47);
}
.mainIndex .secctionTwo .secctionTwo__contenedor {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 50px;
  margin: 0 auto;
}
.mainIndex .secctionTwo .secctionTwo__contenedor .izquierda {
  justify-self: center;
}
.mainIndex .secctionTwo .secctionTwo__contenedor .izquierda img {
  max-width: 500px;
  transition: all 300ms;
}
.mainIndex .secctionTwo .secctionTwo__contenedor .izquierda img:hover {
  transform: scale(1.1);
}
.mainIndex .secctionTwo .secctionTwo__contenedor .derecha .contenedorBotones {
  display: flex;
  gap: 20px;
}
.mainIndex .secctionTwo .secctionTwo__contenedor .derecha .contenedorBotones button a {
  padding: 15px 10px;
}

.mainRecorrido .sectionOne {
  height: 100vh;
  background-color: rgb(0, 10, 47);
  background-image: url(https://github.com/EdgarLopez95/myPortafolio/blob/main/assets/banner-recorrido-low.jpg?raw=true);
  padding: 0 100px;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainRecorrido .sectionOne .logo {
  display: none;
}
.mainRecorrido .sectionOne .fotoPerfil {
  max-width: 400px;
  margin: 0 auto;
  transition: all 300ms;
}
.mainRecorrido .sectionOne .fotoPerfil:hover {
  transform: scale(1.1);
}
.mainRecorrido .sectionOne h1 {
  font-size: clamp(40px, 8vw, 60px);
  color: #ccf2ff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.mainRecorrido .sectionTwo {
  padding: 100px 100px 0 100px;
  background-color: rgb(0, 10, 47);
}
.mainRecorrido .sectionTwo .trabajo,
.mainRecorrido .sectionTwo .freelance {
  border-top: 1px solid rgb(19, 32, 80);
  max-width: 1200px;
  margin: 0 auto;
}
.mainRecorrido .sectionTwo .universidad,
.mainRecorrido .sectionTwo .trabajo,
.mainRecorrido .sectionTwo .freelance {
  padding: 100px 0;
}
.mainRecorrido .sectionTwo .universidad h3,
.mainRecorrido .sectionTwo .trabajo h3,
.mainRecorrido .sectionTwo .freelance h3 {
  padding-bottom: 50px;
}
.mainRecorrido .sectionTwo .universidad .contenedor,
.mainRecorrido .sectionTwo .trabajo .contenedor,
.mainRecorrido .sectionTwo .freelance .contenedor {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 50px;
  margin: 0 auto;
}
.mainRecorrido .sectionTwo .universidad .contenedor .imagen,
.mainRecorrido .sectionTwo .trabajo .contenedor .imagen,
.mainRecorrido .sectionTwo .freelance .contenedor .imagen {
  justify-self: center;
}
.mainRecorrido .sectionTwo .universidad .contenedor .imagen img,
.mainRecorrido .sectionTwo .trabajo .contenedor .imagen img,
.mainRecorrido .sectionTwo .freelance .contenedor .imagen img {
  max-width: 500px;
  transition: all 300ms;
}
.mainRecorrido .sectionTwo .universidad .contenedor .imagen img:hover,
.mainRecorrido .sectionTwo .trabajo .contenedor .imagen img:hover,
.mainRecorrido .sectionTwo .freelance .contenedor .imagen img:hover {
  transform: scale(1.1);
}
.mainRecorrido .sectionTwo .universidad .contenedor .texto .tiempo,
.mainRecorrido .sectionTwo .trabajo .contenedor .texto .tiempo,
.mainRecorrido .sectionTwo .freelance .contenedor .texto .tiempo {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: #00aaff;
  text-align: left;
  padding-bottom: 40px;
}
.mainRecorrido .sectionTwo .universidad .contenedor__trabajo,
.mainRecorrido .sectionTwo .trabajo .contenedor__trabajo,
.mainRecorrido .sectionTwo .freelance .contenedor__trabajo {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  margin: 0 auto;
}
.mainRecorrido .sectionTwo .universidad .contenedor__trabajo .imagen,
.mainRecorrido .sectionTwo .trabajo .contenedor__trabajo .imagen,
.mainRecorrido .sectionTwo .freelance .contenedor__trabajo .imagen {
  justify-self: center;
}
.mainRecorrido .sectionTwo .universidad .contenedor__trabajo .imagen img,
.mainRecorrido .sectionTwo .trabajo .contenedor__trabajo .imagen img,
.mainRecorrido .sectionTwo .freelance .contenedor__trabajo .imagen img {
  max-width: 500px;
  transition: all 300ms;
}
.mainRecorrido .sectionTwo .universidad .contenedor__trabajo .imagen img:hover,
.mainRecorrido .sectionTwo .trabajo .contenedor__trabajo .imagen img:hover,
.mainRecorrido .sectionTwo .freelance .contenedor__trabajo .imagen img:hover {
  transform: scale(1.1);
}
.mainRecorrido .sectionTwo .universidad .contenedor__trabajo .texto .tiempo,
.mainRecorrido .sectionTwo .trabajo .contenedor__trabajo .texto .tiempo,
.mainRecorrido .sectionTwo .freelance .contenedor__trabajo .texto .tiempo {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: #00aaff;
  text-align: left;
  padding-bottom: 40px;
}
.mainPortafolio .sectionOne {
  height: 70vh;
  background-color: rgb(0, 10, 47);
  background-image: url(https://github.com/EdgarLopez95/myPortafolio/blob/main/assets/banner-portafolio-dos.jpg?raw=true);
  background-position: bottom;
  padding: 0 100px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainPortafolio .sectionOne .contenedor .logo {
  display: none;
}
.mainPortafolio .sectionOne .contenedor h1 {
  font-size: clamp(40px, 8vw, 90px);
  color: #ccf2ff;
  font-weight: 600;
}
.mainPortafolio .sectionTwo {
  padding: 100px 100px;
  background-color: rgb(0, 10, 47);
}
.mainPortafolio .sectionTwo .contenedorSeccion {
  max-width: 1200px;
  margin: 0 auto;
}
.mainPortafolio .sectionTwo .contenedorSeccion .trabajos {
  padding-bottom: 100px;
}
.mainPortafolio .sectionTwo .contenedorSeccion .trabajos h3 {
  padding-bottom: 50px;
}
.mainPortafolio .sectionTwo .contenedorSeccion .trabajos .trabajos__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.mainPortafolio .sectionTwo .contenedorSeccion .trabajos .trabajos__contenedor img {
  transition: all 300ms;
}
.mainPortafolio .sectionTwo .contenedorSeccion .trabajos .trabajos__contenedor img:hover {
  transform: scale(1.1);
}
.mainPortafolio .sectionTwo .contenedorSeccion .trabajos button {
  margin: 0 auto;
  margin-top: 30px;
}
.mainPortafolio .sectionTwo .contenedorSeccion .trabajos button a {
  padding: 15px 10px;
}

.mainServicios .sectionOne {
  height: 70vh;
  background-color: rgb(0, 10, 47);
  background-image: url(https://github.com/EdgarLopez95/myPortafolio/blob/main/assets/banner-servicios.jpg?raw=true);
  background-position: bottom;
  padding: 0 100px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainServicios .sectionOne .contenedor .logo {
  display: none;
}
.mainServicios .sectionOne h1 {
  font-size: clamp(40px, 8vw, 90px);
  color: #ccf2ff;
  font-weight: 600;
}
.mainServicios .sectionTwo {
  padding: 100px 100px;
  background-color: rgb(0, 10, 47);
}
.mainServicios .sectionTwo .contenedorSeccion {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.mainServicios .sectionTwo .contenedorSeccion .servicio {
  background-color: #0a1a44;
  width: 100%;
  transition: all 300ms;
  padding: 15px 0 25px 0;
}
.mainServicios .sectionTwo .contenedorSeccion .servicio img {
  max-width: 150px;
  margin: 0 auto;
}
.mainServicios .sectionTwo .contenedorSeccion .servicio h3 {
  font-size: 20px;
  margin: 10px 0 20px 0;
}
.mainServicios .sectionTwo .contenedorSeccion .servicio button {
  margin: 0 auto;
}
.mainServicios .sectionTwo .contenedorSeccion .servicio button a {
  padding: 15px 10px;
}
.mainServicios .sectionTwo .contenedorSeccion .servicio:hover {
  transform: scale(1.1);
}

.mainContacto .sectionOne {
  height: 100vh;
  background-color: rgb(0, 10, 47);
  background-image: url(https://github.com/EdgarLopez95/myPortafolio/blob/main/assets/banner-contacto.jpg?raw=true);
  padding: 0 100px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: bottom;
}
.mainContacto .sectionOne .contenedor {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}
.mainContacto .sectionOne .contenedor .izquierda .logo {
  display: none;
}
.mainContacto .sectionOne .contenedor .izquierda h3 {
  margin-bottom: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: #00aaff;
}
.mainContacto .sectionOne .contenedor .izquierda h1 {
  font-size: clamp(40px, 8vw, 90px);
  color: #ccf2ff;
  font-weight: 600;
}
.mainContacto .sectionOne .contenedor .izquierda div {
  max-width: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.mainContacto .sectionOne .contenedor .izquierda div a {
  transition: all 0.15s linear;
}
.mainContacto .sectionOne .contenedor .izquierda div a:hover {
  transform: translateY(0px) scale(1.2);
  filter: opacity(0.4) drop-shadow(0 0 0 #00aaff);
}
.mainContacto .sectionOne .contenedor .derecha {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  border: solid 2px #00aaff;
  box-shadow: 0 0 10px #00aaff;
}
.mainContacto .sectionOne .contenedor .derecha form input {
  margin-bottom: 10px;
  width: 100%;
  padding: 9px;
  border: 2px solid #00aaff;
}
.mainContacto .sectionOne .contenedor .derecha form input::-moz-placeholder {
  color: #ccf2ff;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  padding: 5px;
}
.mainContacto .sectionOne .contenedor .derecha form input:-ms-input-placeholder {
  color: #ccf2ff;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  padding: 5px;
}
.mainContacto .sectionOne .contenedor .derecha form input::placeholder {
  color: #ccf2ff;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  padding: 5px;
}
.mainContacto .sectionOne .contenedor .derecha form textarea {
  border: 2px solid #00aaff;
  margin-bottom: 10px;
  width: 100%;
}
.mainContacto .sectionOne .contenedor .derecha form textarea::-moz-placeholder {
  color: #ccf2ff;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
}
.mainContacto .sectionOne .contenedor .derecha form textarea:-ms-input-placeholder {
  color: #ccf2ff;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
}
.mainContacto .sectionOne .contenedor .derecha form textarea::placeholder {
  color: #ccf2ff;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  .heder .nav {
    display: none;
  }
  .heder .navCelu {
    display: block;
    position: fixed;
    z-index: 0;
    bottom: 0;
    width: 100%;
    background-color: #0a1a44;
    padding: 5px 0;
  }
  .heder .navCelu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    justify-content: space-around;
    color: white;
  }
  .heder .navCelu ul li {
    display: flex;
    justify-content: center;
    line-height: 20px;
    border: 1px solid #38436d;
    border-width: 0 1px 0 0;
  }
  .heder .navCelu ul li a img {
    margin: 0 auto;
    padding-top: 5px;
    width: 20px;
  }
  .contacto {
    padding: 0 40px;
  }
  .contacto .contenedor {
    padding-bottom: 170px;
  }
  .footer {
    display: none;
  }
  .mainIndex .secctionOne {
    padding: 0 40px;
  }
  .mainIndex .secctionOne .secctionOne__div img {
    display: block;
    width: 120px;
    padding-bottom: 40px;
  }
  .mainIndex .secctionTwo {
    padding: 0 40px;
  }
  .mainIndex .secctionTwo .secctionTwo__contenedor {
    grid-template-columns: 1fr;
  }
  .mainRecorrido .sectionOne {
    padding: 0 40px;
  }
  .mainRecorrido .sectionOne .logo {
    display: block;
    width: 120px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
  .mainRecorrido .sectionTwo {
    padding: 0 40px;
  }
  .mainRecorrido .sectionTwo .universidad,
.mainRecorrido .sectionTwo .trabajo,
.mainRecorrido .sectionTwo .freelance {
    padding: 50px 0;
  }
  .mainRecorrido .sectionTwo .universidad .contenedor,
.mainRecorrido .sectionTwo .trabajo .contenedor,
.mainRecorrido .sectionTwo .freelance .contenedor {
    grid-template-columns: 1fr;
  }
  .mainRecorrido .sectionTwo .universidad .contenedor__trabajo,
.mainRecorrido .sectionTwo .trabajo .contenedor__trabajo,
.mainRecorrido .sectionTwo .freelance .contenedor__trabajo {
    grid-template-columns: 1fr;
  }
  .mainRecorrido .sectionTwo .universidad .contenedor__trabajo .imagen,
.mainRecorrido .sectionTwo .trabajo .contenedor__trabajo .imagen,
.mainRecorrido .sectionTwo .freelance .contenedor__trabajo .imagen {
    order: 0;
  }
  .mainRecorrido .sectionTwo .universidad .contenedor__trabajo .texto,
.mainRecorrido .sectionTwo .trabajo .contenedor__trabajo .texto,
.mainRecorrido .sectionTwo .freelance .contenedor__trabajo .texto {
    order: 1;
  }
  .mainPortafolio .sectionOne {
    padding: 0 40px;
  }
  .mainPortafolio .sectionOne .contenedor .logo {
    display: block;
    width: 120px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
  .mainPortafolio .sectionTwo {
    padding: 0 40px;
  }
  .mainPortafolio .sectionTwo .contenedorSeccion .trabajos h3 {
    padding-bottom: 0;
  }
  .mainPortafolio .sectionTwo .contenedorSeccion .trabajos .trabajos__contenedor {
    grid-template-columns: 1fr;
  }
  .mainServicios .sectionOne {
    padding: 0 40px;
  }
  .mainServicios .sectionOne .contenedor .logo {
    display: block;
    width: 120px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
  .mainServicios .sectionTwo {
    padding: 0 40px 100px 40px;
  }
  .mainServicios .sectionTwo .contenedorSeccion {
    grid-template-columns: 1fr 1fr;
  }
  .mainContacto .sectionOne {
    padding: 0 40px;
  }
  .mainContacto .sectionOne .contenedor {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .mainContacto .sectionOne .contenedor .izquierda .logo {
    display: block;
    width: 120px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 425px) {
  .contacto .contenedor h2 {
    display: none;
  }
  .mainRecorrido .sectionOne .logo {
    display: block;
    width: 120px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
  .mainServicios .sectionTwo .contenedorSeccion {
    grid-template-columns: 1fr;
  }
  .mainContacto .sectionOne {
    padding: 0 40px;
  }
  .mainContacto .sectionOne .contenedor {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .mainContacto .sectionOne .contenedor .izquierda h3 {
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=styles.css.map */