@media screen and (max-width: 768px) {
  //<<<<<<<<<<<<<<<<<<<<<Breakpoins generales>>>>>>>>>>>>>>
  .heder {
    .nav {
      display: none;
    }
    .navCelu {
      display: block;
      position: fixed;
      z-index: 1;
      bottom: 0;
      width: 100%;
      background-color: $colorAzulOscuro;
      padding: 5px 0;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        justify-content: space-around;
        color: white;
        li {
          display: flex;
          justify-content: center;
          line-height: 20px;
          border: 1px solid #38436d;
          border-width: 0 1px 0 0;
          a {
            img {
              margin: 0 auto;
              padding-top: 5px;
              width: 20px;
            }
          }
        }
      }
    }
  }
  .contacto {
    padding: 0 40px;
    .contenedor {
      padding-bottom: 170px;
    }
  }
  .footer {
    display: none;
  }
  //<<<<<<<<<<<<<<<<<<<<<Breakpoins Inicio>>>>>>>>>>>>>>
  .mainIndex {
    .secctionOne {
      padding: 0 40px;
      .secctionOne__div {
        img {
          display: block;
          width: 120px;
          padding-bottom: 40px;
        }
      }
    }
    .secctionTwo {
      padding: 0 40px;
      .secctionTwo__contenedor {
        grid-template-columns: 1fr;
      }
    }
  }
  .mainRecorrido {
    .sectionOne {
      padding: 0 40px;
      .logo {
        display: block;
        width: 120px;
        padding-bottom: 40px;
        margin: 0 auto;
      }
    }
    .sectionTwo {
      padding: 0 40px;
      .universidad,
      .trabajo,
      .freelance {
        padding: 50px 0;
        .contenedor {
          grid-template-columns: 1fr;
        }
        .contenedor__trabajo {
          grid-template-columns: 1fr;
          .imagen {
            order: 0;
          }
          .texto {
            order: 1;
          }
        }
      }
    }
  }
  .mainPortafolio {
    .sectionOne {
      padding: 0 40px;
      .contenedor{
        .logo {
          display: block;
          width: 120px;
          padding-bottom: 40px;
          margin: 0 auto;
        }
      }
    }
    .sectionTwo {
      padding: 0 40px;
      .contenedorSeccion {
        .trabajos {
          h3 {
            padding-bottom: 0;
          }
          .trabajos__contenedor {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
  .mainServicios {
    .sectionOne {
      padding: 0 40px;
      .contenedor{
        .logo {
          display: block;
          width: 120px;
          padding-bottom: 40px;
          margin: 0 auto;
        }
      }
    }
    .sectionTwo {
      padding: 0 40px 100px 40px;
      .contenedorSeccion {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .mainContacto {
    .sectionOne {
      padding: 0 40px;
      .contenedor {
        grid-template-columns: 1fr;
        gap: 20px;
        .izquierda {
          .logo {
            display: block;
            width: 120px;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .contacto {
    .contenedor {
      h2 {
        display: none;
      }
      
    }
  }
  .mainRecorrido {
    .sectionOne {
      .logo {
        display: block;
        width: 120px;
        padding-bottom: 40px;
        margin: 0 auto;
      }
    }
  }
  .mainServicios {
    .sectionTwo {
      .contenedorSeccion {
        grid-template-columns: 1fr;
      }
    }
  }
  .mainContacto {
    .sectionOne {
      padding: 0 40px;
      .contenedor {
        grid-template-columns: 1fr;
        gap: 20px;
        .izquierda {
          h3 {
            margin-bottom: 5px;
          }
          p{
        display: none;
          }
        }
      }
    }
  }
}
