.mainIndex {
  .secctionOne {
    height: 100vh;
    background-color: $backgroundColor;
    background-image: url(https://github.com/EdgarLopez95/myPortafolio/blob/main/assets/bannerinicio.jpg?raw=true);
    padding: 0 100px;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: center;
    .secctionOne__div {
      width: 1200px;
      margin: 0 auto;
      img{
        display: none;
      }
      p {
        margin-bottom: 30px;
        font-family: $tipografiaSecundaria;
        font-size: 20px;
        color: $blueElements;
      }
      h1 {
        @include estilosTitulosGrandes;
      }
      h2 {
        margin-top: 10px;
        @include estilosTitulosGrandes;
      }
      button {
        @extend %button;
        margin-top: 50px;
        font-family: $tipografiaSecundaria;
      }
    }
  }
  .secctionTwo {
    padding: 100px 100px;

    background-color: $backgroundColor;
    h3 {
      @extend %estilosTitulos;
    }
    .secctionTwo__contenedor {
      max-width: 1200px;
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 50px;
      margin: 0 auto;
      .izquierda {
        justify-self: center;
        img {
          max-width: 500px;
          transition: all 300ms;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .derecha {
        p {
          @extend %estilosTextos;
        }
        .contenedorBotones {
          display: flex;
          gap: 20px;
          button {
            @extend %button;
          }
        }
      }
    }
  }
}
