.mainRecorrido {
  .sectionOne {
    height: 100vh;
    background-color: $backgroundColor;
    background-image: url(https://github.com/EdgarLopez95/myPortafolio/blob/main/assets/banner-recorrido-low.jpg?raw=true);
    padding: 0 100px;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo {
      display: none;
    }
    .fotoPerfil {
      max-width: 400px;
      margin: 0 auto;
      transition: all 300ms;
      &:hover {
        transform: scale(1.1);
      }
    }
    h1 {
      font-size: clamp(40px, 8vw, 60px);
      color: $colorBlueWhite;
      font-weight: 600;
      text-align: center;
      margin-top: 20px;
    }
  }
  .sectionTwo {
    padding: 100px 100px 0 100px;
    background-color: $backgroundColor;
    .trabajo,
    .freelance {
      border-top: 1px solid  rgb(19, 32, 80);
      max-width: 1200px;
      margin: 0 auto;
    }
    .universidad,
    .trabajo,
    .freelance {
      padding: 100px 0;
      h3 {
        padding-bottom: 50px;
        @extend %estilosTitulos;
      }
      .contenedor {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 50px;
        margin: 0 auto;
        .imagen {
          justify-self: center;
          img {
            max-width: 500px;
            transition: all 300ms;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .texto {
          @extend %estilosTextos;
        }
      }
      .contenedor__trabajo {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 50px;
        margin: 0 auto;
        .imagen {
          justify-self: center;
          img {
            max-width: 500px;
            transition: all 300ms;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .texto {
          @extend %estilosTextos;
        }
      }
    }
  }
}
