.mainServicios {
  .sectionOne {
    height: 70vh;
    background-color: $backgroundColor;
    background-image: url(https://github.com/EdgarLopez95/myPortafolio/blob/main/assets/banner-servicios.jpg?raw=true);
    background-position: bottom;
    padding: 0 100px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .contenedor {
      h1 {
        @include estilosTitulosGrandes;
      }
    }
  }
  .sectionTwo {
    padding: 100px 100px;
    background-color: $backgroundColor;
    .contenedorSeccion {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      .servicio {
        background-color: #0a1a44;
        width: 100%;
        transition: all 300ms;
        padding: 15px 0 25px 0;
        img {
          max-width: 150px;
          margin: 0 auto;
        }
        h3 {
          @extend %estilosTitulos;
          font-size: 20px;
          margin: 10px 0 20px 0;
        }
        button {
          @extend %button;
          margin: 0 auto;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
